body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc; /* Change background color for disabled buttons */
    color: #666666; /* Change text color for disabled buttons */
    cursor: not-allowed; /* Change cursor for disabled buttons */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


select {
    width: fit-content;
}

textarea {
    resize: vertical;
}

@media (max-width: 768px) {
    .button-group {
        flex-direction: column;
        align-items: center;
    }
    .button-group button {
        width: 100%;
        margin-bottom: 10px;
    }
}