<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Translation App</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{site_id}} Translation App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <select id="languageSelector" class="selectpicker" multiple data-selected-text-format="count > 2">
          </select>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="clear-btn" type="button" onclick="clearTranslations()">Clear</button>
        </li>
        <li class="nav-item">
          <button class="summarize-btn" type="button" onclick="summarizeTranslations()">Summarize</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="increaseTextSize()"><i class="fas fa-plus"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="decreaseTextSize()"><i class="fas fa-minus"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Hidden English Text Container -->
  <!-- Stores the english text for summarization -->
<div class="card" style="display: none;" id="source-container">
      <div class="card-body text-wrap">
    <h5 class="card-title">ENGLISH Translation</h5>
    <div class="card-text translation-container text-wrap" id="en-container">
    </div>
  </div>
</div>

  <div class="container" id="output">
    <br>
  
  </div>
  <!-- add a footer with links to the speaker and qr code pages -->
  <footer class="footer bg-light py-3">
    <div class="container text-center">
      <span class="text-muted">
        <a href="/{{site_id}}/speaker" class="mx-3">Speaker Page</a>
        <a href="/{{site_id}}/display_qr_codes" class="mx-3">QR Codes</a>
      </span>
    </div>
  </footer>
  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <script>
    var site_id = "{{ site_id }}";  // Use the site_id variable in your JavaScript
  </script>
  <script src="{{ url_for('static', filename='js/init_index_ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
